In [65]:
import pandas as pd
import psycopg2
import os
from sqlalchemy import create_engine, text, MetaData, Table

### STEP 1: Load data

#### STEP 1A: Loading Existing Data from base tables (Project, Source, Types)

In [66]:
db_params = {
    'host': os.getenv('DB_HOST') or 'localhost',
    'database': os.getenv('DB_NAME') or 'tbmc_db',
    'user': os.getenv('DB_USER') or 'tbmc_db_user',
    'password': os.getenv('DB_PASSWORD') or '123456',
    'table': os.getenv('DB_TABLE') or 'tbmc_db1',
    'port': os.getenv('DB_PORT') or '5432'
}

In [67]:
def connect_to_database(db_params):
    try:
        conn = psycopg2.connect(
            host=db_params['host'],
            database=db_params['database'],
            user=db_params['user'],
            password=db_params['password']
        )
        conn.set_session(autocommit=True)
        
        engine = create_engine(f"postgresql://{db_params['user']}:{db_params['password']}@{db_params['host']}:{db_params['port']}/{db_params['database']}")
        
        if conn and engine:
            print("Connection successful!")
            return conn, engine
        else:
            print("Connection failed.")

        
    except Exception as e:
        print(f"Error connecting to database: {e}")
        return None, None

conn, engine = connect_to_database(db_params)

Connection successful!

In [68]:
def existing_table_data():
    if engine:
        query_type = "SELECT * FROM type"
        query_source = "SELECT * FROM source"
        query_items = "SELECT * FROM items"

        item_type = pd.read_sql(query_type, engine)
        item_source = pd.read_sql(query_source, engine)
        item_items = pd.read_sql(query_items, engine)


        return item_type, item_source, item_items

    else:
        print("Failed to connect to the database.")

type_table, source_table, items_table = existing_table_data()

In [69]:
item_columns = list(items_table)

#### STEP 1A: Loading New Data

In [70]:
file_path = "../data/quotation_princing_analysis/"
file_name = "INDEPENDENT CIP EVAPORATOR CIR RETURN LINE GOING TO IS 400M3 TANK - INHOUSE.xlsx"
file_path_name = file_path + file_name
data = pd.read_excel(file_path_name, names=item_columns)

In [71]:
data.head(15)

,description,man_r,unit,qty,unit_cost,amount,project,type,date,source
0,mobilization,NaN,lot,1,50000.0,50000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Mobilization/Demobilization & Housekeeping,NaN,INHOUSE
1,demobilization/housekeeping,NaN,lot,1,50000.0,50000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Mobilization/Demobilization & Housekeeping,NaN,INHOUSE
2,cotton gloves,NaN,pair,480,27.0,12960.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
3,dust mask,NaN,bxs,5,277.0,1385.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
4,caution tape,NaN,roll,1,1384.0,1384.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
5,safety signages,NaN,lot,1,5000.0,5000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
6,fire blanket,NaN,pcs,6,3500.0,21000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
7,welding blanket,NaN,pcs,6,3500.0,21000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
8,cip suit(16 person),NaN,set,34,2000.0,68000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
9,construction board,NaN,lot,1,10000.0,10000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Safety Provisions,NaN,INHOUSE
10,gtaw or tig welding machine,NaN,unit,3,15000.0,45000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Tools and Equipment Rental,NaN,INHOUSE
11,"portable grinders 7""ø with double insulation ...",NaN,unit,2,3000.0,6000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Tools and Equipment Rental,NaN,INHOUSE
12,"portable grinders 4""ø with double insulation...",NaN,unit,2,3000.0,6000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Tools and Equipment Rental,NaN,INHOUSE
13,scaffolding - rental,NaN,lot,1,50000.0,50000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Tools and Equipment Rental,NaN,INHOUSE
14,extension ladders with certificate,NaN,unit,2,15000.0,30000.0,INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE G...,Tools and Equipment Rental,NaN,INHOUSE

In [72]:
if engine:    
    # Append the DataFrame to the table named 'items' in the connected database
    data.to_sql('items', engine, if_exists='append', index=False)
    print("DataFrame appended to the database successfully!")
else:
    print("Failed to connect to the database.")

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "items_pkey"
DETAIL:  Key (description, project, source)=(mobilization, INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK, INHOUSE) already exists.

[SQL: INSERT INTO items (description, man_r, unit, qty, unit_cost, amount, project, type, date, source) VALUES (%(description__0)s, %(man_r__0)s, %(unit__0)s, %(qty__0)s, %(unit_cost__0)s, %(amount__0)s, %(project__0)s, %(type__0)s, %(date__0)s, %(source__ ... 13660 characters truncated ... 6)s, %(unit_cost__86)s, %(amount__86)s, %(project__86)s, %(type__86)s, %(date__86)s, %(source__86)s)]
[parameters: {'source__0': 'INHOUSE', 'type__0': 'Mobilization/Demobilization & Housekeeping', 'project__0': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__0': None, 'description__0': 'mobilization', 'unit__0': 'lot', 'qty__0': 1, 'date__0': None, 'amount__0': 50000.0, 'unit_cost__0': 50000.0, 'source__1': 'INHOUSE', 'type__1': 'Mobilization/Demobilization & Housekeeping', 'project__1': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__1': None, 'description__1': 'demobilization/housekeeping', 'unit__1': 'lot', 'qty__1': 1, 'date__1': None, 'amount__1': 50000.0, 'unit_cost__1': 50000.0, 'source__2': 'INHOUSE', 'type__2': 'Safety Provisions', 'project__2': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__2': None, 'description__2': 'cotton gloves', 'unit__2': 'pair', 'qty__2': 480, 'date__2': None, 'amount__2': 12960.0, 'unit_cost__2': 27.0, 'source__3': 'INHOUSE', 'type__3': 'Safety Provisions', 'project__3': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__3': None, 'description__3': 'dust mask', 'unit__3': 'bxs', 'qty__3': 5, 'date__3': None, 'amount__3': 1385.0, 'unit_cost__3': 277.0, 'source__4': 'INHOUSE', 'type__4': 'Safety Provisions', 'project__4': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__4': None, 'description__4': 'caution tape', 'unit__4': 'roll', 'qty__4': 1, 'date__4': None, 'amount__4': 1384.0, 'unit_cost__4': 1384.0 ... 770 parameters truncated ... 'source__82': 'INHOUSE', 'type__82': 'Labor', 'project__82': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__82': 1.0, 'description__82': 'foreman', 'unit__82': 'days', 'qty__82': 40, 'date__82': None, 'amount__82': 38000.0, 'unit_cost__82': 950.0, 'source__83': 'INHOUSE', 'type__83': 'Labor', 'project__83': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__83': 2.0, 'description__83': 'fabricators/fitter', 'unit__83': 'days', 'qty__83': 40, 'date__83': None, 'amount__83': 72000.0, 'unit_cost__83': 900.0, 'source__84': 'INHOUSE', 'type__84': 'Labor', 'project__84': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__84': 3.0, 'description__84': 'welders', 'unit__84': 'days', 'qty__84': 40, 'date__84': None, 'amount__84': 108000.0, 'unit_cost__84': 900.0, 'source__85': 'INHOUSE', 'type__85': 'Labor', 'project__85': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__85': 7.0, 'description__85': 'skilled helpers/scaffolders', 'unit__85': 'days', 'qty__85': 40, 'date__85': None, 'amount__85': 238000.0, 'unit_cost__85': 850.0, 'source__86': 'INHOUSE', 'type__86': 'Labor', 'project__86': 'INDEPENDENT CIP EVAPORATOR - CIR RETURN LINE GOING TO IS 400M3 TANK', 'man_r__86': 1.0, 'description__86': 'electrician', 'unit__86': 'days', 'qty__86': 40, 'date__86': None, 'amount__86': 34000.0, 'unit_cost__86': 850.0}]
(Background on this error at: https://sqlalche.me/e/20/gkpj)

### STEP 2: Final cleaning

### STEP 3: Add project name to "Project" table

#### STEP 3A: Connect to the database

#### STEP 3B: Upload data

#### STEP 3C: Close Connection

In [73]:
conn.close()

In [74]:
if conn:
    conn.close()
    print("Connection closed.")

if engine:
    engine.dispose()
    print("Engine disposed.")

Connection closed.
Engine disposed.